.menu {
    text-align: right;
    background: #f4dddd;
    line-height: 35px;
}

.menu>a {
    margin-right: 15px;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
}

.active {
    /* background: #ff7777; */
    color: #fc5209;
}

.mobileMenu {
    text-align: right;
    background: #f4dddd;
    line-height: 35px;
    height: 200px;
    width: 130px;
    position: absolute;
    left: -165px;
    /* left: 0px; */
    transition: left 0.5s;
    display: inline-block;
}

.mobileMenu>a {
    margin-right: 15px;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
    display: block;
    text-align: left;
    padding: 10px;
}

.menuBtn {
    position: absolute;
    right: 0;
    border: 1px;
    height: 35px;
    width: 45px;
    background-color: #fc5209;
}

.menuBtn>span {
    border: 1px solid rgb(250, 194, 194);
    width: 25px;
    display: block;
    margin: 4px;
}