.menu {
    text-align: right;
    background: #f4dddd;
    line-height: 35px;
}

.menu>a {
    margin-right: 15px;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
}

.active {
    /* background: #ff7777; */
    color: #fc5209;
}

.mobileMenu {
    text-align: right;
    background: #f4dddd;
    line-height: 35px;
    height: 200px;
    width: 130px;
    position: absolute;
    left: -165px;
    /* left: 0px; */
    transition: left 0.5s;
    margin-top: -8px;
    display: inline-block;
}

.mobileMenu>a {
    /* margin-right: 15px;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
    display: block;
    text-align: left;
    padding: 10px;
    position: absolute;    
    left: -165px;
    left:0px;
    transition: left 1s; */

    margin-right: 15px;
    font-weight: bold;
    font-size: large;
    letter-spacing: 2px;
    display: block;
    text-align: left;
    padding: 10px;
}